/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 oct. 2018, 12:04:16
    Author     : alexiz
*/

.choice-box
{
    -fx-background-color:#000B29;
    -fx-border-color: #EDB83D;
    -fx-control-inner-background:#000B29;
    -fx-border-color: #EDB83D;
}

.textField
{
    -fx-background-color: rgb(255,255,255);
    -fx-border-color: #EDB83D;
    -fx-text-fill: #000000;
}

.text-area
{
    -fx-border-color: #EDB83D;
    -fx-background-color: #000B29;
    -fx-text-fill: #EDB83D;
    -fx-control-inner-background:#000B29;
}

.root
{
    -fx-background-color: #000B29;
}

#logLayout
{
	-fx-background-color:#D70026;
	-fx-background-radius: 0.0 0.0 20.0 20.0;
}

.choice_box > .items
{
	-fx-text-fill: #F8F5F2 !important;
}

#logLayout > .choice-box
{
	-fx-background-color:#bfbfbf;
    -fx-border-color: #8c8c8c;
    -fx-control-inner-background:#8c8c8c;
    -fx-border-color: #F8F5F2;
}

#logLayout > .label
{
	-fx-text-fill: #F8F5F2 !important;
}

.button
{
    -fx-background-color: #D70026;
    -fx-text-fill: #F8F5F2;
}

.myLabels
{
    -fx-text-fill: #EDB83D;
}

